---
layout: markdown_page
title: Conversion Group
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Conversion Group is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for continually improving the user experience when interacting with locked features, limits and trials.

## Team Members

The following people are permanent members of the Conversion Group:

<%= direct_team(manager_role: 'Engineering Manager, Acquisition and Conversion') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues group boards]: https://gitlab.com/gitlab-org/growth

[#g_growth]: https://gitlab.slack.com/archives/g_growth
